<h1 class="page-header teal-text text-lighten-2">
   Log In</h1>

<%= form_for(:sessions, url:sessions_path) do |f| %>
 <%= f.label :email %>
 <%= f.email_field :email %>
 <%= f.submit "Login", class: "waves-effect waves-light btn" %>
<% end %>
