<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:sessions, url:sessions_path) do |f| %>
 <%= f.label :email %>
 <%= f.email_field :email %>
 <%= f.submit "Login" %>
<% end %>
