<h1>Users#index</h1>
<div class="show-page container">
  <div class="row profile">
  <% @users.each do |user| %>
    <%= render partial: 'userbox',
        locals: { user: user}%>
  <% end %>
  </div>
</div>
<%= paginate @users %>
