<h1 class="page-header teal-text text-lighten-2">
   Front Page</h1>

  <% @links.each do |link| %>
    <%= render partial: 'linkbox',
        locals: { link: link }%>
  <% end %>

<%= paginate @links %>
