body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.alert {
  margin-top: 3px;
  border: 1px solid red;
  text-align: center;
}

.notice {
  margin-top: 3px;
  border: 1px solid green;
  text-align: center;
}

.url {
  color: black;
}

.comments {
  margin: 9px 12px 0 0;
}

.material-icons {
  font-size: 26px;
  margin: 0px 1px;
}

.on-link.red-text {
  .material-icons {
    &:hover {
      color: red;
    }
  }
}

.on-link.green-text {
  .material-icons {
    &:hover {
      color: green;
    }
  }
}

.vote-count {
  margin-right: 10px;
}

.link-title {
  width: 90%;
}

.page-header {
  font-weight: lighter;
}
.logo-image{
  width: 50px;
}

.link-holder {
  padding-bottom: 10px;
}

.comment-container {
  padding: 0 3%;
  margin: 0 auto;

  .comment-box {
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    .comment-vote-count {
      position: relative;
      display: inline-block;
      float: right;
    }
  }
}
.new_link {
  select {
    display: block;
    margin-bottom: 10px;
  }
}
.comment-text {
  font-size: 0.75em;
}
.user-name-time.blue-grey-text {
  padding-top: 15px;
  padding: 0 10px;
}

.show-page.user-comment-title {
  padding-top: 0px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
}

.show-page {
  padding-top: 20px;
  font-size: 1.5em;
  .comments {
    margin: 5px 12px 0 0;
  }
}

.profile {
  margin:0 auto;
}
