.url {
  color: black;
}

.comments {
  margin: 9px 12px 0 0;
}

.material-icons {
  font-size: 16px;
  margin: 8px 1px 0 1px;
}

.link-holder {
  padding-bottom: 10px;
}

.user-name-time.blue-grey-text {
  padding-top: 30px;
}

.pagination {
  text-align: center;
}

.show-page {
  padding-top: 20px;
  font-size: 1.5em;
  .comments {
    margin: 5px 12px 0 0;
  }
}

.profile {
  margin:0 auto;
}
